<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengda.provider.mapper.BusinessCardMapper">

    <resultMap id="BaseResultMap" type="com.shengda.provider.model.domain.BusinessCard">
        <!--@mbg.generated-->
        <!--@Table mac_business_card-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="expire_start_time" jdbcType="TIMESTAMP" property="expireStartTime"/>
        <result column="expire_end_time" jdbcType="TIMESTAMP" property="expireEndTime"/>
        <result column="state" jdbcType="SMALLINT" property="state"/>
        <result column="remark" jdbcType="LONGVARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, user_id, user_name, image_url, mobile, expire_start_time, expire_end_time,
        `state`, remark, create_time, update_time, version
    </sql>

    <select id="queryPage" resultType="com.shengda.vo.BusinessCardVo">
        select * from mac_business_card
        <where>
            1 = 1
            <if test="query.userId != null">
                and user_id = #{query.userId,jdbcType=BIGINT}
            </if>
            <if test="query.state != null">
                and state = #{query.state,jdbcType=SMALLINT}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="queryBusinessCards" resultType="com.shengda.vo.BusinessCardVo">
        select * from mac_business_card
        <where>
            <if test="name != null and name != ''">
                name like concat('%', #{name,jdbcType=VARCHAR}, '%')
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="queryById" resultType="com.shengda.vo.BusinessCardVo">
        select * from mac_business_card
        where id = #{cardId,jdbcType=BIGINT}
    </select>

</mapper>