<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengda.provider.mapper.BrandMapper">
    <resultMap id="BaseResultMap" type="com.shengda.provider.model.domain.Brand">
        <!--@mbg.generated-->
        <!--@Table mdc_brand-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="first_letter" jdbcType="VARCHAR" property="firstLetter"/>
        <result column="logo" jdbcType="VARCHAR" property="logo"/>
        <result column="big_picture" jdbcType="VARCHAR" property="bigPicture"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="is_factory" jdbcType="BOOLEAN" property="isFactory"/>
        <result column="story" jdbcType="LONGVARCHAR" property="story"/>
        <result column="state" jdbcType="BOOLEAN" property="state"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, first_letter, logo, big_picture, sort, is_factory, story, `state`, create_time,
        update_time, version
    </sql>

    <select id="queryBrand" resultType="com.shengda.vo.BrandVo">
        select * from mdc_brand
        <where>
            1 = 1
            <if test="query.name != null and query.name != ''">
                and name like concat('%', #{query.name,jdbcType=VARCHAR}, '%')
            </if>
            <if test="query.isFactory != null">
                and is_factory = #{query.isFactory}
            </if>
            <if test="query.state != null">
                and state = #{query.state}
            </if>
        </where>
    </select>
</mapper>
